* {
  box-sizing: border-box;
}
h1 {
  text-align: center;
  font-size: 4em;
  font-family: arial;
  margin: 20px 0;
}

.square {
  display: inline-block;
  height: 18px;
  width: 16px;
  background-color: white;
  border: 1px solid lightgrey;
}

.canvas {
    margin: -2px;
}

.color {
  border: 1px solid black;
  border-radius: 100%;
  width: 24px;
  height: 24px;
}

.colors {
  margin-top: 10px;
}

.row {
    text-align: center;
    margin: -2 0;
    padding: 0;
}

.grid {
  border: 1px solid black;
  width: 834px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2px;
  padding-bottom: -8px;
}


.row:first-of-type {

}

.selected {
  box-shadow: 3px 3px blue;
}
